body{
    display: flex;
    justify-content: center;
}
#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablePanier{
    border-collapse: collapse;
}
.tablePanier th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}